## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

<b>Target variable</b> = IS_SUCCESSFUL -- 1 is considered yes (successful) and 0 is considered no (not successful)

<b>Features</b> = there are 9 features - all the other columns

In [3]:
# Determine the number of unique values in each column.
app_cat = application_df.dtypes.index.tolist()
application_df[app_cat].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count = application_df['APPLICATION_TYPE'].value_counts()
app_type_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count[app_type_count < 600].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df['CLASSIFICATION'].value_counts()
class_count.head(20)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count < 300].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_app_df = pd.get_dummies(application_df)
numeric_app_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [9]:
# Split our preprocessed data into our features and target arrays
y = numeric_app_df["IS_SUCCESSFUL"]
X = numeric_app_df.drop(["IS_SUCCESSFUL"],axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Compile, Train and Evaluate the Model

## Attempt #1<br>
APPLICATION_TYPE cutoff = 600<br>
CLASSIFICATION cutoff = 300<br>
layer1 = 9 : activation function = relu<br>
layer2 = 18 : activation function = relu<br>

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 9
hidden_nodes_layer2 = 18

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 396

 dense_1 (Dense)             (None, 18)                180

 dense_2 (Dense)             (None, 1)                 19

=================================================================
Total params: 595 (2.32 KB)
Trainable params: 595 (2.32 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [12]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# I had to convert my y_train variable into a numpy array because of a tensorflow version issue
# I also added numpy in the dependencies
y_test = np.array(y_test)
y_train = np.array(y_train)

In [ ]:
# THIS TAKES AT LEAST THREE AND A HALF MINUTES
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6020 - accuracy: 0.6921
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5615 - accuracy: 0.7250
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5564 - accuracy: 0.7267
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5537 - accuracy: 0.7305
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5523 - accuracy: 0.7294
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7306
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5501 - accuracy: 0.7317
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7313
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7326
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5485 - accuracy: 0.7327
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7341
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7336
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7334
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7344
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7339
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7336
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7338
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7340
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7338
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7343
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7341
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7347
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7347
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7349
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7350
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7340
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7342
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7346
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7339
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7352
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7355
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7338
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7344
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7351
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7344
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7355
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7350
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7357
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7350
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5445 - accuracy: 0.7350
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7346
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7342
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7352
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7352
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7351
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7361
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7355
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7356
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7354
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7356
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7352
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7358
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7359
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7362
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7355
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7358
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7364
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7364
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7363
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7355
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7364
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7361
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7363
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7355
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7367
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7367
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7364
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7361
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7359
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7361
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7372
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7364
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7370
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7362
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7365
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7358
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7367
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7371
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7362
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7371
Epoch 81/100

538/804 [===================>..........] - ETA: 0s - loss: 0.5395 - accuracy: 0.7400

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# plotting the accuracy
history_df = pd.DataFrame(fit_model.history, index = range(1, len(fit_model.history['loss'])+1))
history_df.plot(y = 'accuracy')

In [ ]:
# Export our model to HDF5 file
# nn.save('Models/AlphabetSoupCharity1.h5')

RESULTS:

<b>This is Attempt #1</b>
<br>APPLICATION_TYPE cutoff = 600
<br>CLASSIFICATION cutoff = 300
<br>layer1 = 9 : activation function = relu
<br>layer2 = 18 : activation function = relu

Loss: 0.5536191259042167, Accuracy: 0.727580189704895

A loss value of 55 indicates that the model can be further optimized.<br>
The accuracy percent shows that 72% of the model's predicted values align with the true values in the original dataset.

I need to make some changes in order to get to 75% accuracy.

---

I also ran the following variables through this model:

<br>APPLICATION_TYPE cutoff = 600
<br>CLASSIFICATION cutoff = 300
<br>layer1 = 12
<br>layer2 = 24

Loss: 0.5522796763553564, Accuracy: 0.7250145673751831


<br>APPLICATION_TYPE cutoff = 800
<br>CLASSIFICATION cutoff = 1000
<br>layer1 = 12
<br>layer2 = 24

Loss: 0.5575985619278065, Accuracy: 0.7231487035751343

---
---

## Attempt #2 -- adding a hidden layer
APPLICATION_TYPE cutoff = 600<br>
CLASSIFICATION cutoff = 300<br>
layer1 = 9 : activation function = relu<br>
layer2 = 18 : activation function = relu<br>
layer3 = 27 : activation function = relu

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# number_input_features = len(X_train_scaled[0])
# hidden_nodes_layer1 = 9
# hidden_nodes_layer2 = 18
# hidden_nodes_layer3 = 27

# nn = tf.keras.models.Sequential()

# First hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
# nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
# nn.summary()

In [ ]:
# Compile the model
# nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# I had to convert my y_train variable into a numpy array because of a tensorflow version issue
# I also added numpy in the dependencies
# y_test = np.array(y_test)
# y_train = np.array(y_train)

In [ ]:
# THIS TAKES AT LEAST THREE AND A HALF MINUTES
# Train the model
# fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

In [ ]:
# Evaluate the model using the test data
# model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
# print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# plotting the accuracy
# history_df = pd.DataFrame(fit_model.history, index = range(1, len(fit_model.history['loss'])+1))
# history_df.plot(y = 'accuracy')

In [ ]:
# Export our model to HDF5 file
# nn.save('Models/AlphabetSoupCharity2.h5')

RESULTS:

<b>This is Attempt #2</b>
<br>APPLICATION_TYPE cutoff = 600
<br>CLASSIFICATION cutoff = 300
<br>layer1 = 9 : activation function = relu
<br>layer2 = 18 : activation function = relu
<br>layer3 = 27 : activation function = relu

Loss: 0.5541777287836325, Accuracy: 0.7258309125900269

A loss value of 55 indicates that the model can be further optimized.<br>
The accuracy percent shows that 72% of the model's predicted values align with the true values in the original dataset.

Still not at 75% accuracy. Will try something drastic next.

-----

I also ran the following variables through this model:

<br>APPLICATION_TYPE cutoff = 600
<br>CLASSIFICATION cutoff = 300
<br>layer1 = 12
<br>layer2 = 24
<br>layer3 = 36

Loss: 0.5545361445735565, Accuracy: 0.7241982221603394


<br>APPLICATION_TYPE cutoff = 800
<br>CLASSIFICATION cutoff = 1000
<br>layer1 = 12
<br>layer2 = 24
<br>layer3 = 36

Loss: 0.5560268456039207, Accuracy: 0.7268804907798767

---
---

## Attempt #3 -- changing the activation functions
APPLICATION_TYPE cutoff = 600<br>
CLASSIFICATION cutoff = 300<br>
layer1 = 9 : activation function = relu<br>
layer2 = 18 : activation function = tanh<br>
layer3 = 27 : activation function = tanh

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# number_input_features = len(X_train_scaled[0])
# hidden_nodes_layer1 = 9
# hidden_nodes_layer2 = 18
# hidden_nodes_layer3 = 27

# nn = tf.keras.models.Sequential()

# First hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))

# Output layer
# nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
# nn.summary()

In [ ]:
# Compile the model
# nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# I had to convert my y_train variable into a numpy array because of a tensorflow version issue
# I also added numpy in the dependencies
# y_test = np.array(y_test)
# y_train = np.array(y_train)

In [ ]:
# THIS TAKES AT LEAST THREE AND A HALF MINUTES
# Train the model
# fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

In [ ]:
# Evaluate the model using the test data
# model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
# print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# plotting the accuracy
# history_df = pd.DataFrame(fit_model.history, index = range(1, len(fit_model.history['loss'])+1))
# history_df.plot(y = 'accuracy')

In [ ]:
# Export our model to HDF5 file
# nn.save('Models/AlphabetSoupCharity3.h5')

RESULTS:

<b>This is Attempt #3</b>
<br>APPLICATION_TYPE cutoff = 600
<br>CLASSIFICATION cutoff = 300
<br>layer1 = 9 : activation function = relu
<br>layer2 = 18 : activation function = tanh
<br>layer3 = 27 : activation function = tanh

Loss: 0.5513413424950647, Accuracy: 0.7266472578048706

A loss value of 55 indicates that the model can be further optimized.<br>
The accuracy percent shows that 72% of the model's predicted values align with the true values in the original dataset.

Still not at 75% accuracy. I give up.

-----

I also ran the following variables through this model:

<br>APPLICATION_TYPE cutoff = 600
<br>CLASSIFICATION cutoff = 300
<br>layer1 = 12
<br>layer2 = 24
<br>layer3 = 36

Loss: 0.5520951250065173, Accuracy: 0.7255976796150208


<br>APPLICATION_TYPE cutoff = 800
<br>CLASSIFICATION cutoff = 1000
<br>layer1 = 12
<br>layer2 = 24
<br>layer3 = 36

Loss: 0.555375917367963, Accuracy: 0.7251312136650085

---
---